*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.box{
    height: 35%;
    width: 25%;
    background-color: rgb(205, 218, 218);
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    
}

.circle{
    height: 80%;
    width: 50%;
    border-radius: 50%;
    background-color: rgb(255, 238, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    position: relative;
    top: 9vh;
    width: 100px;
    height: 30px;
    background-color: aqua;
}

.new_block{
    position: absolute;
    height: 200px;
    width: 300px;
    padding: 10px;
    background-color: rgb(176, 176, 199);
    top: 32%;
    left: 2%;

}

.prop_Block{
    position: absolute;
    top: 50%;
    left: 46%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: grey;
}

.prop_increment{
    position: absolute;
    top: 80%;
    left: 40%;
    background-color: aqua;
}

.new_block1 {
    position: absolute;
    height: 200px;
        padding: 10px;

    width: 300px;
    background-color: rgb(176, 176, 199);
    top: 32%;
    left: 75%;

}

.prop_increment1 {
    position: absolute;
    top: 80%;
    left: 40%;
    background-color: aqua;
}